footer {
    background-color:  var(--secondary); /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
